<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>se.meck.alfred-hoogle</string>
	<key>connections</key>
	<dict>
		<key>0FBFD972-BAD9-4EDD-B59E-E605054D35CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F159E27-3CDD-4D65-8074-8E15EBD1A648</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>14F34CE5-A43E-4B6E-824C-58B22600CF6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CE8FBD3-54B7-4F63-AE74-4FDB28F3AED2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F159E27-3CDD-4D65-8074-8E15EBD1A648</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DE95325-98D6-4349-87DC-A78811181E08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CE8FBD3-54B7-4F63-AE74-4FDB28F3AED2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FF053C4-1320-490D-BA1B-88B83F3643C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DE95325-98D6-4349-87DC-A78811181E08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FF053C4-1320-490D-BA1B-88B83F3643C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FF053C4-1320-490D-BA1B-88B83F3643C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7C19EED-91C9-40BC-93C8-D50B7F8EAFE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0605D66-F8E6-4708-988C-72278C5DF481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBD41A2C-4F1F-4853-913A-7CBFB7FEAE19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F79A9394-9927-46E2-92C4-360DDBB17F17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF203C96-A985-42D7-A0E6-7D85519A969C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0605D66-F8E6-4708-988C-72278C5DF481</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBD41A2C-4F1F-4853-913A-7CBFB7FEAE19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E406C75-983A-49D8-91C8-5027C02B2697</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F79A9394-9927-46E2-92C4-360DDBB17F17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FF053C4-1320-490D-BA1B-88B83F3643C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Meck</string>
	<key>description</key>
	<string>Search hoogle locally and on the web</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hoogle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>ext_trig</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CF203C96-A985-42D7-A0E6-7D85519A969C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ho</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-hoogle</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Hoogle</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A0605D66-F8E6-4708-988C-72278C5DF481</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8E406C75-983A-49D8-91C8-5027C02B2697</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:do_cmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EBD41A2C-4F1F-4853-913A-7CBFB7FEAE19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:do_cmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F79A9394-9927-46E2-92C4-360DDBB17F17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-hoogle</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4DE95325-98D6-4349-87DC-A78811181E08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-hoogle</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4FF053C4-1320-490D-BA1B-88B83F3643C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hoogle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C7C19EED-91C9-40BC-93C8-D50B7F8EAFE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hoset</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Hoogle settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0FBFD972-BAD9-4EDD-B59E-E605054D35CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>cmd</key>
					<string>settings</string>
					<key>do_cmd</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2F159E27-3CDD-4D65-8074-8E15EBD1A648</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Set as hoogle local folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>14F34CE5-A43E-4B6E-824C-58B22600CF6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>cmd</key>
					<string>set_local_folder</string>
					<key>cmd_arg</key>
					<string>{query}</string>
					<key>do_cmd</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3CE8FBD3-54B7-4F63-AE74-4FDB28F3AED2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Check https://github.com/meck/alfred-hoogle for details</string>
	<key>uidata</key>
	<dict>
		<key>0FBFD972-BAD9-4EDD-B59E-E605054D35CD</key>
		<dict>
			<key>note</key>
			<string>Configure settings

Keyword is editable</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>14F34CE5-A43E-4B6E-824C-58B22600CF6D</key>
		<dict>
			<key>note</key>
			<string>Takes a directory and sets it as local</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>2F159E27-3CDD-4D65-8074-8E15EBD1A648</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>3CE8FBD3-54B7-4F63-AE74-4FDB28F3AED2</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>4DE95325-98D6-4349-87DC-A78811181E08</key>
		<dict>
			<key>note</key>
			<string>Shows settings</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4FF053C4-1320-490D-BA1B-88B83F3643C6</key>
		<dict>
			<key>note</key>
			<string>Executes changes of settings</string>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>8E406C75-983A-49D8-91C8-5027C02B2697</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A0605D66-F8E6-4708-988C-72278C5DF481</key>
		<dict>
			<key>note</key>
			<string>Do a search

Keyword is editable</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>C7C19EED-91C9-40BC-93C8-D50B7F8EAFE0</key>
		<dict>
			<key>note</key>
			<string>Notify when database indexing is done</string>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>CF203C96-A985-42D7-A0E6-7D85519A969C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>EBD41A2C-4F1F-4853-913A-7CBFB7FEAE19</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>F79A9394-9927-46E2-92C4-360DDBB17F17</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alternate_server_addr</key>
		<string>http://localhost:8080</string>
		<key>n_local_search</key>
		<string>15</string>
		<key>n_web_search</key>
		<string>15</string>
	</dict>
	<key>version</key>
	<string>VERSIONPLACEHOLDER</string>
	<key>webaddress</key>
	<string>https://github.com/meck/alfred-hoogle</string>
</dict>
</plist>
