<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>se.meck.alfred-hoogle</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A0605D66-F8E6-4708-988C-72278C5DF481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E406C75-983A-49D8-91C8-5027C02B2697</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Meck</string>
	<key>description</key>
	<string>Search hoogle locally and on the web</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hoogle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ho</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-hoogle</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Hoogle</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A0605D66-F8E6-4708-988C-72278C5DF481</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8E406C75-983A-49D8-91C8-5027C02B2697</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Check https://github.com/meck/alfred-hoogle

- Local search not yet implemented</string>
	<key>uidata</key>
	<dict>
		<key>8E406C75-983A-49D8-91C8-5027C02B2697</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A0605D66-F8E6-4708-988C-72278C5DF481</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>local_search</key>
		<string>false</string>
		<key>online_search</key>
		<string>true</string>
		<key>prio_offline</key>
		<string>true</string>
	</dict>
	<key>version</key>
	<string>0.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
